
:root {
    --background-color: #FFFFFF;
    --logo-color: #939393;
    --black-color: #000000;
    --color-menu: #263238;
    --all-text: #8F95A5;
    --buttom-header-border: #263238;
    --color-accent: #2196F3;
    --color-amount: #2A3246;
    --color-per-mounth: #546269;
    --background-per-mounth: #EEEEEE;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: var(--all-text);

}

/* Header */

.logo {
    text-decoration: none;
    color: var(--black-color);
    font-size: 36px;
    line-height: 1.5;

}

.logo-grey {
    color: var(--logo-color);
}

.main-nav .nav {
    list-style: none;
}

.main-nav .link {
    text-decoration: none;
    color: var(--color-menu);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.main-nav .link:hover,
.main-nav .link:focus {
    color: var(--color-accent);
}

.button-header {
    border: 2px solid var(--buttom-header-border);
    background-color: var(--background-color);
    border-radius: 10px;
    color: var(--black-color);
    font-family: inherit;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.button-header:hover,
.button-header:focus {
    color: var(--color-accent);
}

/* Main */

.hero .title {
    text-transform: capitalize;
    color: var(--black-color);
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
}

.hero .text {
    font-size: 24px;
    line-height: 1.5;
}

.hero .started {
    background-color: var(--buttom-header-border);
    color: var(--background-color);
    border-radius: 10px;
    font-family: inherit;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.hero .started:hover,
.hero .started:focus {
    color: var(--color-accent);
}

/* Main */

.title-two {
    color: var(--black-color);
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
}

#skills .skills-list {
    list-style: none;
}

#skills .list {
    color: var(--color-menu);
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
}

#skills .text {
    font-size: 16px;
    line-height: 1.5;
}

#skills .button-more {
    background-color: var(--color-menu);
    color: var(--background-color);
    font-family: inherit;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}

#skills .button-more:hover,
#skills .button-more:focus {
    color: var(--color-accent);
}

/* Section About-us */

#about-us .list {
    list-style: none;
}

#about-us .text {
    font-size: 20px;
    line-height: 1.8;
}

#about-us .amount {
    color: var(--color-amount);
    font-weight: 600;
    font-size: 48px;
    line-height: 1.46;
}

#about-us .everything {
    font-size: 20px;
    line-height: 1.5;
}

/* Section Pricing */

#pricing .list {
    list-style: none;
}

#pricing .benefits {
    text-transform: capitalize;
    color: var(--color-menu);
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
}

#pricing .text {
    font-size: 20px;
    line-height: 1.5;
}

#pricing .per-month {
    background-color: var(--background-per-mounth);
    color: var(--color-per-mounth);
    font-size: 18px;
    line-height: 1.5;
}

#pricing .price {
    color: var(--color-menu);
    font-size: 24px;
    line-height: 1.5;
}

/* Section contacts */

#contacts .list {
    font-size: 20px;
    line-height: 1.5;
}

#contacts .input-email {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
}

#contacts .email {
    font-family: inherit;
    background-color: var(--color-menu);
    color: var(--background-color);
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

#contacts .email:hover,
#contacts .email:focus {
    color: var(--color-accent);
}

/* Footer */

.rules {
    list-style: none;
}

.rules .link {
    text-decoration: none;
    color: var(--all-text);
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.rules .link:hover,
.rules .link:focus {
    color: var(--color-accent);
}
